* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}

/* header section*/

.full-banner {
    width: 1920px;
    height: 1240px;
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px;
    height: 100%;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500px;

}

.header-title {
    font-size: 45px;
    font-weight: 600px;
}

/* banner section */
.banner-title {
    text-align: center;
    margin-top: 60px;
    font-size: 64px;
    font-weight: 700px;
    color: #131313;
}

.banner-discription {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: #727272;
    line-height: 26px;
}

.btn-primary1 {
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    background: #FF900E;
    border: none;
    border-radius: 10px;
    margin-left: 870px;
    margin-top: 20px;
}

.banner-image {
    margin: 25px 260px;
}

/* feature of banner section */
.feature-banner {
    display: flex;
    gap: 50px;
}

.picture-banner {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 10px;
    margin-top: 85px;
    margin-left: 257px;
}


.feature-banner-title {
    font-size: 45px;
    margin-top: 250px;
    font-weight: 500px;
}

.primary-color-one {
    color: rgba(114, 114, 114, 1);
}

.primary-color-two {
    color: rgba(19, 19, 19, 1);
    font-weight: 500px;
}

.primary-color-three {
    color: rgba(255, 144, 14, 1);
    font-weight: 500px;
}

.feature-banner-discription {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(114, 114, 114, 1);
    margin-top: 15px;
}

.btn-primary2 {
    width: 180px;
    height: 64px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    background: #FF900E;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

/* featuer of love and enjoy */
.feature-architect {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 85px;

}

.line {
    width: 5px;
    height: 106px;
    background-color: #FF900e;
}

.style {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;

}

.feature-architect-title {
    font-size: 45px;
    font-weight: 700px;
    color: rgba(19, 19, 19, 1);
    text-align: justify;

}

.feature-architect-discription {
    font-size: 17px;
    font-weight: 500px;
    color: rgba(114, 114, 114, 1);
    line-height: 25px;
    margin-top: 25px;
    text-align: justify;
}

.skill-info {
    width: 550px;
    height: 155px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;

    margin-top: 30px;
    color: rgba(114, 114, 114, 1);
}



.primary-color {
    color: rgba(19, 19, 19, 1);
    font-size: 23px;
    font-weight: 500px;
}

.special-button {
    width: 260px;
    height: 135px;
    background-color: #FF900E;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    border: none;
    margin-left: 840px;
}

/* section some fact */
.some-fact {
    margin-left: 245px;
}

.some-fact-title {
    font-size: 45px;
    font-weight: 600px;
    color: #131313;
}

.some-fact-discription {
    color: #727272;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 15px;
}

/* banner icon */
.banner-icon {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 120px;
}

.banner-icon-style {
    width: 230px;
    height: 230px;
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    padding: 60px 0px;
    color: rgba(114, 114, 114, 1);
}

/* our sponsor section */
.fact-section {
    text-align: center;
    margin-top: 200px;
}

.fact-section-title {
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}

.fact-section-discription {
    color: #727272;
    font-size: 18px;
    margin-top: 30px;

}

/* footer-icon */
.footer-icon {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.footer-section-copyright {
    width: 1400px;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px;

}

.footer-section-copuyright-title {
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 40px;
}

/* media queary */
@media only screen and (max-width:576px)

/* full -heaher  section */
    {
    .full-banner {
        height: 1350px;
        width: 1440px;
        background-color: rgba(255, 144, 14, 0.1);
    }


nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    flex-direction: column;
    text-align: justify;
    margin-left: 480px;
    margin-top: 60px;
}

.header-title {
    font-size: 80px;
    text-align: justify;
}

.banner-title {
    font-size: 80px;
    text-align:center;
}
.banner-discription {
    font-size: 25px;
    margin-top: 30px;
     margin-right: 20px;
}
.btn-primary1 {
    margin-top: 52px;    
}

.banner-image {
    
    
    height: 480px;
    border-radius: 10px; 
}

/* feature -banner -dection */
.feature-banner {
    gap: 100px;
}
.feature-banner-discription{
    font-size: 21px;
}

.feature-discription {
    font-size: 120px;
}
/* feature -architect */

.feature-architect {
    flex-direction: column-reverse;

}
.feature-architect-title{
    text-align: justify;
}
.feature-architect-img{
      margin-left: 250px;
}
.feature-architect-skill{
    margin-left: 250px;
}
.feature-architect-discription{
    margin-left: 20px;
    font-size: 30px; 
}
.skill-info{
    font-size: 20px;
}
/* some fact section */
.some-fact-title{
    text-align:justify;

}
.some-fact-discription{
    font-size: 25px;
 
}
/* banner-icon-style */
.banner-icon {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 120px;
    flex-direction: column;
    padding: 20px;
    margin-left: 600px;
}
.fact-section{
 width: 100%;
 
 margin-left: 450px;
}
.fact-section-title{
    font-size: 80px;
    
}
.fact-section-discription{
    font-size: 30px;
    text-align: justify;

}
.footer-icon {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    margin-left: 700px;
    padding: 20px;
}
.footer-section-copyright{
    margin-left: 25px;
    
}
.footer-section-copuyright-title{
    font-size: 30px;
}

}
